.list {
    display: flex;
    scroll-behavior: smooth;
    position: relative;
    overflow: hidden;
    /* scrollbar-width: none; */
}

/* .list::-webkit-scrollbar {
    display: none;
} */

.posterTile {
    height: 400px;
    transition: all, ease-out 0.2s;
    cursor: pointer;
}

.posterTile:hover {
    transform: scale(1.1);
    box-shadow: rgb(255, 255, 255) 0px 0px 50px 10px;
}

.button {
    height: 400px;
    width: 75px;
    background-color: white;
    opacity: 70%;
    transition: 0.1s;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}
.button:hover{
    opacity: 100%;
}

.hidden {
    display: none;
}

#left {
    left: 0;
    display: block;
}

#right {
    right: 0;
    display: block;
}

.icon {
    height: 80%;
    width: 80%;
}