.searchGenre {
    border: solid 10px black;
    border-radius: 40px;
    height: 70px;
    width: 370px;
    color: lightgrey;
    background-color: black;
    font-size: 40px;
    text-align: center;
    outline: none;
    position: absolute;
    left: 1140px;
    top: 60;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.genre {
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
}

.genre:hover {
    background-color: grey;
}

.genreButtonContainer {
    display: flex;
    justify-content: flex-end;
}

.genreButton {
    color: white;
    border-radius: 30px;
    cursor: pointer;
    height: 30px;
    width: 300px;
    font-size: 20px;
    margin: 0 50px 10px 0;
}

.visible {
    display: block;
}

.hidden {
    display: none;
}