* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.App {
  text-align: center;
  background-color: black;
  color: white;
}

.topBar {
  display: flex;
  align-items: space-evenly;
}

.header {
  text-shadow: 2px 4px 2px indianred;
  padding: 10px;
  border: dashed 5px indianred;
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background: lightgrey;
}

::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 7px;
  opacity: 70%;
}

::-webkit-scrollbar-thumb:hover {
  background: darkslategrey;
  opacity: 100%;
}

