* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: black;
}

.App {
  text-align: center;
  color: white;
}

.graphic {
  height: 150px;
  width: 150px;
  display: none;
}

.theaterGraphic {
  height: 300px;
  position: absolute;
  z-index: 1;
}

.theaterLights {
  height: 350px;
  width: 580px;
}

.top {
  font-size: 55px;
  position: absolute;
  z-index: 1;
  left: 650px;
  top: 130px;
  background-color: transparent;
  color: black;
  font-family: 'Trebuchet MS';
}

.header {
  text-shadow: 2px 4px 2px indianred;
  padding: 10px;
  background: linear-gradient(0.25turn, red, black, red);
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background: lightgrey;
}

::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 7px;
  opacity: 70%;
}

::-webkit-scrollbar-thumb:hover {
  background: darkslategrey;
  opacity: 100%;
}

