* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: black;
}

.App {
  text-align: center;
  /* background-color: black; */
  color: white;
}

.graphic {
  height: 150px;
  width: 150px;
  /* position: absolute; */
}

.top {
  font-size: 40px;
}

.header {
  text-shadow: 2px 4px 2px indianred;
  padding: 10px;
  /* border: dashed 5px indianred; */
  background: linear-gradient(0.25turn, red, black, red);
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background: lightgrey;
}

::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 7px;
  opacity: 70%;
}

::-webkit-scrollbar-thumb:hover {
  background: darkslategrey;
  opacity: 100%;
}

